<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221912065581-gkfdf27rpkasd5tcv14q3tjl1uo0rtv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221912065581-gkfdf27rpkasd5tcv14q3tjl1uo0rtv3</string>
	<key>API_KEY</key>
	<string>AIzaSyAfUXOiRuVYkujX_CJxqaHaI64TRcW8ooQ</string>
	<key>GCM_SENDER_ID</key>
	<string>221912065581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.myAwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>hymnal-app-bcb7e</string>
	<key>STORAGE_BUCKET</key>
	<string>hymnal-app-bcb7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221912065581:ios:0e31d03d1e83627cb07aa4</string>
	<key>DATABASE_URL</key>
	<string>https://hymnal-app-bcb7e.firebaseio.com</string>
</dict>
</plist>